body{
    width: 95%;
    margin: auto;
    background: url(espaco.jpg) center;

    font-family: 'Noto Sans JP';
line-height: 1.5;
    color: white ;
}
    
 main{
        background: rgba(255, 0, 0, 0.267);
        padding: 5px 40px;
        margin-top: 20px;
        border-radius: 10px;

    
 }
    
    .logo{
        text-align: center;
    }
    .nome{
        text-align: center;
    }
    
